@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #0174BE;
}

body {
  background: rgba( 138, 136, 136, 0.45 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
}

@layer components {
  .button {
    @apply bg-[#7752FE] hover:bg-[#190482] px-3 py-1 rounded-md text-white font-bold shadow-xl;
  }
}